In [1]:
import pandas as pd

In [42]:
millionDF= pd.read_csv("SimpleHandValue_v_SimpleHandValue.csv")

In [43]:
millionDF.head()

   SimpleHandValue  SimpleHandValue2  Ties
0                0                 1     0
1                0                 2     0
2                0                 3     0
3                0                 4     0
4                1                 4     0

In [44]:
millionDF.describe()

       SimpleHandValue  SimpleHandValue2            Ties
count   1000000.000000    1000000.000000  1000000.000000
mean     247046.340806     246650.218049     6303.941145
std      142628.084854     142396.477122     3650.858486
min           0.000000          1.000000        0.000000
25%      123624.000000     123236.750000     3140.000000
50%      247054.500000     246657.000000     6289.000000
75%      370654.250000     369860.000000     9486.000000
max      493932.000000     493475.000000    12593.000000

In [45]:
for col in millionDF.columns:
    millionDF[col]=millionDF[col].astype(int)

In [46]:
millionDF.describe()

       SimpleHandValue  SimpleHandValue2            Ties
count   1000000.000000    1000000.000000  1000000.000000
mean     247046.340806     246650.218049     6303.941145
std      142628.084854     142396.477122     3650.858486
min           0.000000          1.000000        0.000000
25%      123624.000000     123236.750000     3140.000000
50%      247054.500000     246657.000000     6289.000000
75%      370654.250000     369860.000000     9486.000000
max      493932.000000     493475.000000    12593.000000

In [47]:
millionDF.count()

SimpleHandValue     1000000
SimpleHandValue2    1000000
Ties                1000000
dtype: int64

In [48]:
millionDF['Count']=millionDF.index+1
millionDF['SimpleHandValue_ratio']=millionDF['SimpleHandValue']/millionDF['Count']
millionDF['SimpleHandValue2_ratio']=millionDF['SimpleHandValue2']/millionDF['Count']
millionDF['Average']=(millionDF['SimpleHandValue_ratio']+millionDF['SimpleHandValue2_ratio'])/2
millionDF['Ties_ratio']=millionDF['Ties']/millionDF['Count']

In [49]:
millionDF.describe()

,SimpleHandValue,SimpleHandValue2,Ties,Count,SimpleHandValue_ratio,SimpleHandValue2_ratio,Average,Ties_ratio
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,247046.340806,246650.218049,6303.941145,500000.500000,0.494101,0.493369,0.493735,0.012530
std,142628.084854,142396.477122,3650.858486,288675.278933,0.001478,0.001575,0.000181,0.000363
min,0.000000,1.000000,0.000000,1.000000,0.000000,0.478278,0.493601,0.000000
25%,123624.000000,123236.750000,3140.000000,250000.750000,0.493916,0.493089,0.493682,0.012538
50%,247054.500000,246657.000000,6289.000000,500000.500000,0.494054,0.493350,0.493700,0.012601
75%,370654.250000,369860.000000,9486.000000,750000.250000,0.494351,0.493497,0.493731,0.012636
max,493932.000000,493475.000000,12593.000000,1000000.000000,0.512976,1.000000,0.500000,0.012798

In [50]:
millionDF.iloc[999999]

SimpleHandValue            493932.000000
SimpleHandValue2           493475.000000
Ties                        12593.000000
Count                     1000000.000000
SimpleHandValue_ratio           0.493932
SimpleHandValue2_ratio          0.493475
Average                         0.493703
Ties_ratio                      0.012593
Name: 999999, dtype: float64

In [51]:
NullHypothesisDF= pd.read_csv("No strat v No strat.csv")

In [52]:
NullHypothesisDF.head()

   No strat  No strat 2  Ties
0         0           1     0
1         0           2     0
2         0           3     0
3         1           3     0
4         2           3     0

In [53]:
NullHypothesisDF['Count']=NullHypothesisDF.index+1
NullHypothesisDF['No_strat_ratio']=NullHypothesisDF['No strat']/NullHypothesisDF['Count']
NullHypothesisDF['No_strat_ratio2']=NullHypothesisDF['No strat 2']/NullHypothesisDF['Count']
NullHypothesisDF['Average']=(NullHypothesisDF['No_strat_ratio']+NullHypothesisDF['No_strat_ratio2'])/2
NullHypothesisDF['Ties_ratio']=NullHypothesisDF['Ties']/NullHypothesisDF['Count']

In [55]:
NullHypothesisDF.describe()

,No strat,No strat 2,Ties,Count,No_strat_ratio,No_strat_ratio2,Average,Ties_ratio
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,249548.775657,249450.169044,1001.555299,500000.500000,0.499290,0.498707,0.498999,0.002002
std,143979.880531,144113.475901,582.077103,288675.278933,0.001344,0.001333,0.000048,0.000095
min,0.000000,1.000000,0.000000,1.000000,0.000000,0.459318,0.498604,0.000000
25%,124809.750000,124699.000000,492.000000,250000.750000,0.498954,0.498587,0.498990,0.001981
50%,249712.500000,249304.000000,984.000000,500000.500000,0.499187,0.498828,0.498998,0.002004
75%,374109.000000,374381.250000,1510.000000,750000.250000,0.499434,0.499037,0.499010,0.002020
max,498857.000000,499129.000000,2014.000000,1000000.000000,0.540682,1.000000,0.500000,0.002791